@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [dir="rtl"] {
    font-family: "Arial", sans-serif;
  }
}

html[dir="rtl"] {
  text-align: right;
}

html[dir="ltr"] {
  text-align: left;
}